{{ define "ent2ogen_checks" }}
{{ template "header" $ }}

{{- $cfg := $.Config.Annotations.Ent2ogen }}

import openapi "{{ $cfg.OgenPackage }}"

{{- range $_, $m := $cfg.Mappings }}
func _() {
    _ = struct{
        {{- range $f := $m.To.Fields }}
        {{ $f.Name }} {{ rendertype $f.Type }}
        {{- end }}
    }(openapi.{{ $m.To.Name }}{})

    {{- range $f := $m.FieldMappings }}{{ if eq $f.From.Type.Type.ConstName "TypeEnum" }}
    {{- $srcT := $f.To.Type }}
    {{- if $srcT.IsGeneric }}{{ $srcT = $srcT.GenericOf }}{{ end }}
    {{- if eq $srcT.Primitive.String "string" }}
        {{- range $e := $f.Enums }}
        _ = map[bool]struct{}{
            string(openapi.{{ $e.To.Name }}) == string({{ $m.From.Package }}.{{ $e.From.Name }}): {},
            false: {},
        }
        {{- end }}
    {{- else }}
        {{- errorf "unsupported enum primitive type: %s" $srcT.Primitive }}
    {{- end }}
    {{- end }}{{ end }}
}

{{ end }}
{{ end }}