{{ define "mappers_compcheck" }}
{{ template "header" $ }}

{{- $cfg := $.Config.Annotations.Ent2ogen }}

import openapi "{{ $cfg.OgenPackage }}"

{{- range $_, $m := $cfg.Mappings }}
func _() {
    _ = struct{
        {{- range $f := $m.APIType.Fields }}
        {{ $f.Name }} {{ rendertype $f.Type }}
        {{- end }}
    }(openapi.{{ $m.APIType.Name }}{})

    {{- range $f := $m.FieldMappings }}{{ if eq $f.DBField.Type.Type.ConstName "TypeEnum" }}
    {{- $dst := $f.APIField.Type }}
    {{- if $dst.IsGeneric }}{{ $dst = $dst.GenericOf }}{{ end }}
    {{- if eq $dst.Primitive.String "string" }}
        {{- range $e := $f.Enums }}
        _ = map[bool]struct{}{
            string(openapi.{{ $e.APIEnum.Name }}) == string({{ $m.DBType.Package }}.{{ $e.DBEnum.Name }}): {},
            false: {},
        }
        {{- end }}
    {{- else }}
        {{- errorf "unsupported enum primitive type: %s" $dst.Primitive }}
    {{- end }}
    {{- end }}{{ end }}
}

{{ end }}
{{ end }}