{{ define "mappers" }}
{{ template "header" . }}

{{- $cfg := $.Config.Annotations.Ent2ogen }}

import openapi "{{ $cfg.OgenPackage }}"

{{- range $m := $cfg.Mappings }}

{{- $rtype := sprintf "openapi.%s" $m.From.Name }}
func (e *{{ $m.From.Name }}) ToOpenAPI() (t {{ $rtype }}) {
    {{- range $f := $m.FieldMappings }}

    {{- $entField  := $f.From }}
    {{- $ogenField := $f.To }}

    {{- if $entField.Nillable }}
    if e.{{ $entField.StructField }} != nil {
        t.{{ $ogenField.Name }}.SetTo(*e.{{ $entField.StructField }})
    }
    {{- else }}
    t.{{ $ogenField.Name }} = e.{{ $entField.StructField }}
    {{- end }}
    
    {{- end }}
    return t
}

{{- end }}
{{- end }}